<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].status %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id%>">
            <span>update</span>
        </a>
        <a id="delete" data-id=<%= users[i]._id%> >
            <span>delete</span>
        </a>
    </td>
</tr>
<% } %>